/*------------------------------------------------------------------
[Master Stylesheet]

Project:    Project Name
Version:    1.0
Last change:    24/03/17 [fixed Float bug, vf]
Author Name: Author Name
Primary use:    Project Type
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Table of contents]

1. Body
2.
-------------------------------------------------------------------*/
/*link=

https://gist.github.com/Shiponkormoker/89c66faa975cf13e0506769aefd476c5

/*
==========================================
    Reset Css
==========================================
*/
/*BASIC CSS*/
.alignleft{
  float: left;
  margin-right: 15px;
}
.alignright{
  float: right;
  margin-left: 15px;
}
.aligncenter{
  display:block;
  margin:0 auto;
}
a:focus{
  outline: 0 solid;
}
img{
  max-width:100px;
  height: auto;
}
h1, h2, h3, h4, h5, h6 {
  margin:0 0 15px;
  font-width:300;
}
a:hover{
  text-decoration: none;
}
ul{
  list-style: none;
  margin:0;
  padding: 0;
}


textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="url"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}
body{
  font-size: 15px;
}
html, body{
  height: 100%;
}

.header-area{
  background-image: url(../img/pic03.jpg);
}

.header-area {
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-color: #333;
  height: 100%;
  width: 100%;
  display: table;
}
.header-area:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ddd;
  content: "";
  opacity: .3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  z-index: -1;
}
.hader-full {
}
.hader-full {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
}
.header-content img {
  width: 100px;
  margin-bottom: 20px;
}
.header-content h2 {
  color: #ffe600;
  font-size: 40px;
  text-transform: uppercase;
}

.box-btn {
  display: inline-block;
  border: 1px solid #FFE600;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-top: 20px;
  -webkit-transition: .3s;
  transition: .3s;
}
.box-btn:hover{
  color: #FFE600;
  border-color: #fff; 
}
.header-content {
  position: relative;
}
.scroll-icon a i.fa {
  color: #fff;
  font-size: 35px;
  background: #FFE600;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
}
.scroll-icon {
  margin-top: 30px;
}
.slicknav_menu{display: none;}
.nav-area {
  border-bottom: 2px solid #ffe600;
  padding: 20px;
}
.main-menu li {
  display: inline-table;
}
.main-menu li a {
  display: block;
  color: #8e8e8e;
  text-transform: uppercase;
  padding: 5px 20px;
  border: 1px solid #ffff;
  -webkit-transition: .3s;
  transition: .3s;
}
.main-menu li:hover a {
  color: #333;
  border-color: #333;
}
.main-menu li:last-child a {
  padding-right: 0;
}

.about-area {
  padding: 100px 0;
}
.about-title {
  margin-bottom: 80px;
  color: #FFE600;
}
.about-title h2 {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #131316;
}
.about-title p {
}
.single-about-content h3 {
  position: relative;
  padding-left: 60px;
  margin-bottom: 40px;
}
.single-about-content h3:before {
  position: absolute;
  left: 0;
  top: -2px;
  color: #FFE600;
  content: "01";
  font-size: 30px;
  font-weight: 300;
}

.single-about-content h3:after {
  position: absolute;
  left: 40px;
  top: 0;
  width: 1px;
  height: 40px;
  background: #FFE600;
  content: "";
}
.single-about-content.secent-heding h3:before{
  content: "02"
}
.single-about-content.three-no-heading h3:before{
  content: "03"
}

.banar-area {
  background-image: url(../img/banner5.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
  background-color: #333;
  padding: 150px 0;
  z-index: 1;
}
.banar-area:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ddd;
  content: "";
  z-index: -1;
  opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.banar-title h2 {
  font-size: 25px;
  line-height: 40px;
}
.banar-title h2 {
  color: #fff;
  margin-bottom: 40px;
}
.banar-title p{
  color: #FFE600;
}

.portfolio-area {
  padding: 100px 0;
}
.portfolio-title h2 {
  text-transform: uppercase;
  font-size: 25px;
}
.portfolio-title p {
  color: #FFE600;
}
.portfolio-title {
  margin-bottom: 80px;
}
.single-portfolio img {
  max-width: 100%;
}
.single-portfolio {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.portfolio-overlay {
  position: absolute;
  left:0;
  bottom:-262px;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #FFE600;
  text-align: center;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  
}
.portfolio-overlay a {
  display: inline-block;
  margin-top: 50%;
  text-transform: uppercase;
  background: #FFE600;
  padding: 10px 20px;
  color: #fff;
}
.portfolio-overlay:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ddd;
  z-index: -1;
  content: "";
  opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.single-portfolio:hover .portfolio-overlay{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  visibility: visible;
  bottom: 0;
}
.clients-area{background-image: url(../img/banner.jpg);}


.clients-area {
  padding: 200px 0;
  background-color: #333;
  background-position: center;
  background-size: cover;
  color: #fff;
  z-index: 2;
  position: relative;
}
.clients-title h2 {
  text-transform: uppercase;
  font-size: 25px;
}
.clients-title p {
  color: #FFE600;
}
.clients-area:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #ddd;
  z-index: -1;
  opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.clients-title {
  margin-bottom: 60px;
}
.clients-logo img {
  max-width: 80px;
}
.contact-area{
  background-image: url(../img/wizard-book.jpg);
}

.contact-area {
  padding: 100px 0;
  position: relative;
  z-index: 2;
  background-size: cover;
  background-position: center;
  background-color: #ddd;
  background-attachment: fixed;
}
.contact-area:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ddd;
  z-index: -1;
  content: "";
  opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.contact-title h2 {
  font-size: 25px;
  text-transform: uppercase;
  color: #fff;
}
.contact-title p {
  color: #FFE600;
}
.contact-title {
  margin-bottom: 80px;
}
.contact-form input {
  background: #FFE600;
  border: none;
  padding: 12px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-right: 14px;
}
.contact-form textarea {
  background: #FFE600;
  border: none;
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
  padding: 12px;
  resize: none;
}

.contact-form input[type=text], input[type=email] {
  width: 49%;
}
.contact-form input[type=email] {
  margin-right: 0;
}
.contact-form input[type=search] {
  width: 100%;
}
.contact-form input[type=submit] {
  width: 100%;
  background: #131316;
  color: #FFE600;
  font-weight: 700;
}

.footer-area {
  background: #131316;
  color: #FFE600;
  padding: 15px 0;
}
.footer-menu li {
  display: inline-block;
}
.footer-menu li a {
  color: #fff;
  display: block;
  font-size: 20px;
  padding: 5px;
  margin-left: 10px;
}
.footer-menu {
  text-align: right;
}
.footer-area p {
  font-weight: 600;
  padding: 11px 0;
}